*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{background-color: rgb(246, 248, 247);}
body{
  margin:0;
  font-family:Arial, sans-serif;
}

.product-section{
  display:flex;
  gap:90px;
  padding:10px;
}


.video-box{
  width:76%;
}

.video-box video{
  width:100%;
  height:420px;
  object-fit:cover;
  border-radius:20px;
}


.details-box{
  width:35%;
}

.details-box h1{
  font-size:32px;
  margin-bottom:5px;
}

.ai{
  color:#0071e3;
  font-weight:bold;
  margin-bottom:20px;
}

.price-card{
  border:1px solid #ddd;
  padding:15px;
  border-radius:10px;
  margin-bottom:12px;
}

.price-card.active{
  
  background:#f4f9ff;
}

.price{
  font-size:22px;
  font-weight:bold;
}
