*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{background-color: rgb(246, 248, 247);}


.card {
  position: relative;
  width: 600px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 200%;
  transition: transform 0.5s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: 0.5s ease;
}

.overlay h3 {
  margin-bottom: 10px;
  transform: translateY(20px);
  transition: 0.4s ease;
}

.overlay button {
  padding: 8px 18px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  transform: translateY(20px);
  transition: 0.4s ease;
}

/* FOOTER */
.footer-dark{
  background:#111;
  color:#bbb;
  padding:50px 0 0;
}
.footer-dark h5{
  color:#fff;
  margin-bottom:15px;
}
.footer-dark ul li{
  list-style:none;
  margin-bottom:8px;
  cursor:pointer;
}
.footer-dark ul li:hover{
  color:#3f52ff;
}
.footer-bottom{
  background:#000;
  color:#888;
  text-align:center;
  padding:12px;
  margin-top:30px;
}